<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.user.dao.UserDao">


	<resultMap id = "userCmd" type = "UserCmd">
	   <result property = "id" column = "id"/>
	   <result property = "name" column = "name"/>
	   <result property = "roleId" column = "role_id"/>
	</resultMap>
	
	<select id="findUsers" resultMap = "userCmd">
		SELECT *
		FROM t_user
		WHERE 1 = 1
		<if test="name!=null and name!=''">
			and name = #{name}
		</if>
		<if test="password!=null and password!=''">
			and password = #{password}
		</if>
		<if test="status!=null">
			and status = #{status}
		</if>
	</select>
	
	
	<select id="findUserPerson" resultType="com.an9elkiss.api.user.command.UserPersonCmd">
		SELECT
			usr.id userId,
			person.lead_id leadId,
			person.level,
			person.percent,
			person.name
		FROM
			t_user usr,
			t_person person
		WHERE
			usr.person_id = person.id
	</select>
	
	<update id="updatePassword" parameterType="com.an9elkiss.api.user.command.UserCmd">
			UPDATE t_user 
			SET password = #{password}
			where id=#{id}
	</update>
	
	
</mapper>